## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barrow,US,2022-09-03 03:26:04,71.2906,-156.7887,39.22,93,100,4.61,fog
1,1,Busselton,AU,2022-09-03 03:23:23,-33.6500,115.3333,54.28,85,100,18.03,overcast clouds
2,2,East London,ZA,2022-09-03 03:26:05,-33.0153,27.9116,59.94,82,20,10.36,few clouds
3,3,Hibbing,US,2022-09-03 03:26:05,47.4272,-92.9377,62.20,53,0,6.91,clear sky
4,4,Aklavik,CA,2022-09-03 03:23:34,68.2191,-135.0107,61.21,53,89,5.79,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Hithadhoo,MV,2022-09-03 03:22:21,-0.6000,73.0833,81.16,74,44,15.79,scattered clouds
8,8,Sao Filipe,CV,2022-09-03 03:26:06,14.8961,-24.4956,78.60,85,36,8.52,light rain
14,14,Barahona,DO,2022-09-03 03:26:08,18.2085,-71.1008,79.39,82,5,0.74,clear sky
15,15,Lompoc,US,2022-09-03 03:24:49,34.6391,-120.4579,79.79,83,0,5.75,clear sky
19,19,Komsomolskiy,UZ,2022-09-03 03:26:09,40.4272,71.7189,79.52,24,0,4.61,clear sky
22,22,Port Said,EG,2022-09-03 03:26:10,31.2565,32.2841,79.54,73,0,9.71,clear sky
24,24,Avarua,CK,2022-09-03 03:26:11,-21.2078,-159.7750,78.85,78,20,6.91,few clouds
26,26,Tambacounda,SN,2022-09-03 03:26:11,13.7539,-13.7586,75.25,94,75,2.30,light rain
35,35,Quezon,PH,2022-09-03 03:26:14,7.7303,125.0989,87.58,62,100,3.11,overcast clouds
43,43,Palm Beach,US,2022-09-03 03:26:16,26.6503,-80.4498,84.99,83,6,5.35,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                238
City                   238
Country                238
Date                   238
Lat                    238
Lng                    238
Max Temp               238
Humidity               238
Cloudiness             238
Wind Speed             238
Current Description    238
dtype: int64

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
## no need to use preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Hithadhoo,MV,81.16,scattered clouds,-0.6000,73.0833,
8,Sao Filipe,CV,78.60,light rain,14.8961,-24.4956,
14,Barahona,DO,79.39,clear sky,18.2085,-71.1008,
15,Lompoc,US,79.79,clear sky,34.6391,-120.4579,
19,Komsomolskiy,UZ,79.52,clear sky,40.4272,71.7189,
22,Port Said,EG,79.54,clear sky,31.2565,32.2841,
24,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
26,Tambacounda,SN,75.25,light rain,13.7539,-13.7586,
35,Quezon,PH,87.58,overcast clouds,7.7303,125.0989,
43,Palm Beach,US,84.99,clear sky,26.6503,-80.4498,

In [ ]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": gkey,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
from operator import index
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    try:
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.

        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        params["location"] = f"{lat},{lng}"    

    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json() 
       
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception as e : print(e)

list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range

# 6a. Set parameters to search for hotels with 5000 meters.
from operator import index


params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey,
    "location": "",
}

# 6b. Iterate through the hotel DataFrame. 
## tried this way initially and kept coming up with index errors and no hotels
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
    #hotel_df.loc[index, "Hotel Name"] = np.nan

In [18]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Hithadhoo,MV,81.16,scattered clouds,-0.6000,73.0833,Scoop Guest House
8,Sao Filipe,CV,78.60,light rain,14.8961,-24.4956,Hotel Xaguate
14,Barahona,DO,79.39,clear sky,18.2085,-71.1008,Hotel Caribe
15,Lompoc,US,79.79,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
19,Komsomolskiy,UZ,79.52,clear sky,40.4272,71.7189,Ikathouse
...,...,...,...,...,...,...,...
710,Nanakuli,US,85.95,clear sky,21.3906,-158.1547,Camp Pālehua
711,Ismailia,EG,75.02,clear sky,30.6043,32.2723,Mercure Ismailia Forsan Island Hotel
712,Robat Karim,IR,82.26,clear sky,35.4846,51.0829,خانه معلم رباط کریم - مرکز رفاهی خجسته کیا
713,Kochi,IN,82.38,clear sky,9.9399,76.2602,Trident Hotel Cochin
717,Champerico,GT,77.90,overcast clouds,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""

In [ ]:
clean_hotel_df["Hotel Name"].value_counts()

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker with info box content = hotel info
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))